---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: {{ kubeadm_token }}
    apiServerEndpoint: {{ api_server_endpoint }}:{{ kubernetes_api_port }}
    caCertHashes: 
      - sha256:{{ kubeadm_ca_hash.stdout }}
nodeRegistration:
  criSocket: {{ cri_socket_paths[kubernetes_cri] }}
  imagePullPolicy: IfNotPresent
  name: {{ ansible_hostname|lower }}
  taints: null
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd