apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
    app.kubernetes.io/version: 1.3.0
  name: ingress-nginx-controller
  namespace: ingress-nginx
spec:
  ports:
  - appProtocol: http
    name: http
    port: 80
    protocol: TCP
    targetPort: http
    nodePort: {{nginx_ingress_controller_http_nodeport}}
  - appProtocol: https
    name: https
    port: 443
    protocol: TCP
    targetPort: https
    nodePort: {{nginx_ingress_controller_https_nodeport}}
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/name: ingress-nginx
  type: NodePort
---
apiVersion: v1
data:
  allow-snippet-annotations: "true"
{% if enable_nginx_real_ip %}
  enable-real-ip: "true"
  proxy-real-ip-cidr: "{{ nginx_ingress_real_ip_cidr }}"
{%  endif %}
  proxy-body-size: "{{ nginx_ingress_proxy_body_size }}"
{% if enable_nginx_ingress_proxy_protocol %}
  use-proxy-protocol: "true"
{%  endif %}
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
    app.kubernetes.io/version: 1.3.0
  name: ingress-nginx-controller
  namespace: ingress-nginx